<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Chi-Square Test](#chisq)**
2. **[One-way ANOVA](#1way)**

**Import the required libraries**

In [38]:
# type your code here
import pandas as pd 

# import 'numpy' 
import numpy as np

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# import 'stats' package from scipy library
from scipy import stats

# import the functions to perform Chi-square tests
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare

# function to perform post-hoc test
import statsmodels.stats.multicomp as mc

# to test the normality 
from scipy.stats import shapiro

### Let's begin with some hands-on practice exercises

<a id = "chisq"> </a>
## 1. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 6.

In [4]:
df=pd.read_csv('Employee_Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
H0: There is no significant difference between the observed and expected values.
H1: There is a significant difference between the observed and expected values.

In [5]:
expected_count = np.array([0.55,0.35,0.1])*len(df)
print(expected_count)

[808.5 514.5 147. ]

In [7]:
observation = df['Department'].value_counts().values
print(observation)

[961 446  63]

In [8]:
chi_critical = stats.chi2.isf(q=0.05,df=2)
print('chi_critical_value : ',round(chi_critical,2))

chi_critical_value :  5.99

In [9]:
stat,p_value = stats.chisquare(f_obs=observation,f_exp=expected_count)
print('Test statistic :', stat)
print('p-value :', p_value)

Test statistic : 85.88470712960503
p-value : 2.2406437256053955e-19

In [ ]:
#p_value less than 0.05 and test statistics is greater than chi_critical so we can reject the null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0: There is no significant difference between the observed and expected values. 
H1: There is a significant difference between the observed and expected values.

In [10]:
expected = np.array([0.2,0.18,0.30,0.32])*len(df)
print('expected : ',expected)

expected :  [294.  264.6 441.  470.4]

In [11]:
observed = df['JobSatisfaction'].value_counts().sort_index().values
print('observed ',observed)

observed  [289 280 442 459]

In [12]:
chi_critical = stats.chi2.isf(q=0.1,df=len(expected)-1)
print('chi_critical_value : ',round(chi_critical,2))

chi_critical_value :  6.25

In [13]:
stat,p_value = stats.chisquare(f_obs=observed,f_exp=expected)
print('Test statistic:', stat)
print('p-value:', p_value)

Test statistic: 1.2598733938019708
p-value: 0.7386828586247451

In [ ]:
#p_value is greater than 0.10 and test statistics is less than chi-critical we fail to reject null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The company claims that in the organization, 68% of employees are there with rare travelling, 20% with frequent travelling and 12% of employees does not need to travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
# type your code here
expected = np.array([0.68,0.2,0.12])*len(df)
print('expected :',expected)

expected  [999.6 294.  176.4]

In [15]:
observed = df['BusinessTravel'].value_counts().values
print('observed :',observed)

observed : [1043  277  150]

In [16]:
chi_critical_value = stats.chi2.isf(q=0.01,df=len(expected)-1)
print('chi_critical ',round(chi_critical_value,2))

chi_critical  9.21

In [17]:
stat,p_val = stats.chisquare(f_obs=observed,f_exp=expected)
print('Test statistic :', stat)
print('p-value :', p_val)

Test statistic : 6.818327330932372
p-value : 0.0330688454314459

In [ ]:
#p_value is greater than 0.01 and test statistics is less than chi-critical we fail to reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0: The variables Businnes Travel and Job role are independent
H1: The variables Businnes Travel and Job role are not independent

In [18]:
df['JobRole'].value_counts()

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

In [19]:
df['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [20]:
chi_critical = stats.chi2.isf(q=0.01,df=16) #df = (r-1)(c-1) = 16
print('chi_critical ',round(chi_critical,2))

chi_critical  32.0

In [21]:
observed = pd.crosstab(df['BusinessTravel'],df['JobRole']).values
print('observed ',observed)

observed  [[ 15   4  28  12  13   6  28  39   5]
 [ 26  10  51  13  29  12  54  59  23]
 [ 90  38 180  77 103  62 210 228  55]]

In [22]:
test_stat, p, dof, expected_value = chi2_contingency(observed = observed, correction = False)

print("Test statistic:", test_stat)
print("p-value:", p)

Test statistic: 11.987695596739206
p-value: 0.7448263418408124

In [ ]:
#p_val>0.01 and test statistics is less than chi_critical we fail to reject null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0: The variables Attrition and Maritial Status are independent
H1: The variables Attrition and Maritial Status are not independent

In [23]:
df['MaritalStatus'].value_counts()

Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

In [24]:
df['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [25]:
observed = pd.crosstab(df['Attrition'],df['MaritalStatus']).values
print('observed ',observed)

observed  [[294 589 350]
 [ 33  84 120]]

In [26]:
chi_critical = stats.chi2.isf(q=0.05,df=2) #df = (r-1)(c-1) = 16
print('chi_critical ',round(chi_critical,2))

chi_critical  5.99

In [27]:
test_stat, p, dof, expected_value = chi2_contingency(observed = observed, correction = False)

print('Degree of Freedom ',dof)
print("Test statistic:", test_stat)
print("p-value:", p)

Degree of Freedom  2
Test statistic: 46.163676540848705
p-value: 9.45551106034083e-11

In [ ]:
#p_value<0.01 and test statistics greater than chi critical we reject the null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Check whether travelling for the business depends on the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0: The variables Business Travel and Gender are independent
H1: The variables Business Travel and Gender are not independent

In [28]:
df['Gender'].value_counts()

Male      882
Female    588
Name: Gender, dtype: int64

In [29]:
df['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [30]:
observed = pd.crosstab(df['BusinessTravel'],df['Gender']).values
print('observed ',observed)

observed  [[ 49 101]
 [117 160]
 [422 621]]

In [31]:
hi_critical = stats.chi2.isf(q=0.1,df=2) #df = (r-1)(c-1) = 16
print('chi_critical ',round(chi_critical,2))

chi_critical  5.99

In [32]:
test_stat, p_value, dof, expected_value = chi2_contingency(observed = observed, correction = False)

print('Degree of Freedom ',dof)
print("Test statistic:", test_stat)
print("p-value:", p_value)

Degree of Freedom  2
Test statistic: 4.031372310350092
p-value: 0.13322895625828154

In [ ]:
#p_value>0.10 and test statistics < chi critical so reject the null hypothesis

<a id = "1way"> </a>
## 2. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 7 to 11.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
𝐻0 : The averages of all treatments are the same.
𝐻1 : At least one treatment has a different average.

In [33]:
df = pd.read_csv('sales_emp.csv')
df.sample(5)

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
12,28,Travel_Frequently,1306,5,3,Marketing,1,614,2,69,...,4,80,0,0,3,3,0,0,0,0
32,25,Non-Travel,383,9,2,Life Sciences,1,1439,1,68,...,1,80,0,6,2,3,3,2,2,2
35,30,Travel_Rarely,740,1,3,Life Sciences,1,1562,2,64,...,4,80,1,10,4,3,10,8,6,7
22,36,Travel_Rarely,530,3,1,Life Sciences,1,967,3,51,...,1,80,1,16,6,3,16,7,3,7
53,50,Travel_Rarely,410,28,3,Marketing,1,2055,4,39,...,2,80,1,20,3,3,3,2,2,0

In [34]:
df['EducationField'].value_counts()

Marketing           20
Life Sciences       16
Medical              8
Technical Degree     6
Other                4
Name: EducationField, dtype: int64

In [39]:
stat,pval = shapiro(df['MonthlyIncome'])
print('statistic ',stat)
print('pval ',pval)
#as p value > 0.05 data is normally distributed

statistic  0.9582135677337646
pval  0.05732710659503937

In [40]:
A=df[df['EducationField']=='Marketing']['MonthlyIncome']
B=df[df['EducationField']=='Life Sciences']['MonthlyIncome']
C=df[df['EducationField']=='Medical']['MonthlyIncome']
D=df[df['EducationField']=='Technical Degree']['MonthlyIncome']
E=df[df['EducationField']=='Other']['MonthlyIncome']

In [41]:
stat, p_value = stats.levene(A,B,C,D,E)
print('P-Value:', p_value)

P-Value: 0.23476859109336565

In [42]:
t = df['EducationField'].nunique()
N = df['MonthlyIncome'].value_counts().sum()

In [43]:
f_critical = stats.f.isf(q=0.05,dfn=t-1,dfd=N-t)
print('f_critical ',round(f_critical,2))

f_critical  2.56

In [44]:
f_test,pval = stats.f_oneway(A,B,C,D,E)
print('f-statistic ',f_test)
print('pval',pval )

f-statistic  0.9546031924978221
pval 0.4407865128409415

In [ ]:
#we fail to reject null hypothesis

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
𝐻0 : The averages of all treatments are the same.
𝐻1 : At least one treatment has a different average.

In [48]:
df['EducationField'].unique()

array(['Life Sciences', 'Technical Degree', 'Marketing', 'Medical',
       'Other'], dtype=object)

In [49]:
a = df[df['EducationField'] == 'Life Sciences']['MonthlyIncome']
b = df[df['EducationField'] == 'Technical Degree']['MonthlyIncome']
c = df[df['EducationField'] == 'Marketing']['MonthlyIncome']
d = df[df['EducationField'] == 'Medical']['MonthlyIncome']
e = df[df['EducationField'] == 'Other']['MonthlyIncome']

In [51]:
t = df['EducationField'].nunique()
print('t:',t)
N = df['EducationField'].value_counts().sum()
print('N:',N)

t: 5
N: 54

In [52]:
f = np.abs(round(stats.f.isf(q = 0.05,dfn = 4,dfd = 49),4))
print('Critical value for F-test:',f) #dof

Critical value for F-test: 2.5611

In [53]:
f_test,p_val = stats.f_oneway(a,b,c,d,e)
print('Test statistic:',f_test)
print('P-Value:',p_val)

Test statistic: 0.9546031924978221
P-Value: 0.4407865128409415

In [ ]:
#Here, the Test statistic is less than 2.5611, the P-Value is greater than 0.05 we fail to reject the null hypothasis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [54]:
# type your code here
df['BusinessTravel'].unique()

array(['Travel_Rarely', 'Non-Travel', 'Travel_Frequently'], dtype=object)

In [55]:
a = df[df['BusinessTravel'] == 'Travel_Rarely']['DailyRate']
b = df[df['BusinessTravel'] == 'Non-Travel']['DailyRate']
c = df[df['BusinessTravel'] == 'Travel_Frequently']['DailyRate']

In [56]:
stat,p_value = stats.shapiro(df['DailyRate'])
print('P-Value:',round(p_value,4))

P-Value: 0.0403

In [57]:
stat,p_value = stats.levene(a,b,c)
print('P-Value:',round(p_value,4))

P-Value: 0.2314

In [ ]:
#Since the P-Value which is 0.2314 is greater than 0.01, the population variances are equal.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
𝐻0 : The averages of all treatments are the same.

𝐻1 : At least one treatment has a different average.

In [58]:
df['BusinessTravel'].unique()

array(['Travel_Rarely', 'Non-Travel', 'Travel_Frequently'], dtype=object)

In [59]:
a = df[df['BusinessTravel'] == 'Travel_Rarely']['DailyRate']
b = df[df['BusinessTravel'] == 'Non-Travel']['DailyRate']
c = df[df['BusinessTravel'] == 'Travel_Frequently']['DailyRate']

In [60]:
t = df['BusinessTravel'].nunique()
print('t:',t)
N = df['BusinessTravel'].value_counts().sum()
print('N:',N)

t: 3
N: 54

In [61]:
f = np.abs(round(stats.f.isf(q = 0.01,dfn = 2,dfd = 51),4))
print('Critical value for F-test:',f)

Critical value for F-test: 5.0472

In [62]:
f_test,p_val = stats.f_oneway(a,b,c)
print('Test statistic:',f_test)
print('P-Value:',p_val)

Test statistic: 15.815759872412409
P-Value: 4.527131533131016e-06

In [ ]:
 #Here, the Test statistic is greater than 5.0472, the P-Value is less than 0.01 we reject the Null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [63]:
# type your code here
comp = mc.MultiComparison(data = df['DailyRate'], groups = df['BusinessTravel'])

In [64]:
post_hoc = comp.tukeyhsd()

In [65]:
post_hoc.summary()