<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Large Sample Test](#z)**
2. **[Small Sample Test](#t)**
3. **[Z Proportion Test](#prop)**

**Import the required libraries**

In [16]:
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import 'random' to generate random sample
import random

# import statistics to perform statistical computation  
import statistics

# import 'stats' package from scipy library
from scipy import stats

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

# to test the normality 
from scipy.stats import shapiro

# import the function to calculate the power of test
from statsmodels.stats import power
import statsmodels as sm
from statsmodels import api

### Let's begin with some hands-on practice exercises

<a id = "z"> </a>
## 1. Large Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The company MangoFun that produces mango juice claims that the protein content in their juice is more than the juice produced by their competitor company FruitMix. Protein content in 50 boxes of MangoFun juice and 80 boxes of FruitMix juice is collected from a normal population which have an average protein content as 0.4 g and 0.35 g. The two samples have a standard deviation of 0.08 g for MangoFun juice and 0.05 g for FruitMix juice. Test the claim using a critical value method at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
h0:mu1 - mu2 <= 0
h1:mu1 - mu2 > 0
    
mu1 --> avg protein in Mangafun
mu1 --> avg protein in fruitmix

In [2]:
z_critical=round(stats.norm.isf(q=0.01),2)
z_critical

2.33

In [ ]:
#if the zscore is going to greater than 2.33,then we reject the null hypothesis

In [3]:
mango_no_n=50
fruit_mix_n=80
mu1=0.4
mu2=0.35
std_mango=0.08
std_fruit_mix=0.05

samp_mean=mu1-mu2
value=0

In [7]:
num=mu1-mu2
num

0.050000000000000044

In [8]:
den=np.sqrt(((std_mango**2)/mango_no_n)+(std_fruit_mix**2)/fruit_mix_n)

In [9]:
 zscore = num/ den

In [10]:
zscore

3.96214425875164

In [ ]:
#z score is > than z_critical so we can reject the H0.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [17]:
# type your code here
data=pd.read_csv('electronic.csv')
data.head()

   Screensize (inch)  Price ($)  Weight (g)     Type
0                6.5        245         252  Phablet
1                6.3        210         252  Phablet
2                6.1        224         234  Phablet
3                6.0        217         212  Phablet
4                6.4        252         252  Phablet

In [22]:
phablet_price=data[data['Type']=='Phablet']['Price ($)']
n1=len(phablet_price)
n1

50

In [23]:
Tablet_price=data[data['Type']=='Tablet']['Price ($)']
n2=len(Tablet_price)
n2

50

In [26]:
stat,p_value=stats.shapiro(data['Price ($)'])
stat,p_value

(0.9888564348220825, 0.5733178853988647)

In [ ]:
#here there is 5% significance so than we can say p_value is greater than 0.05 so the data is normally distributed.

In [29]:
stat,p_value=stats.levene(phablet_price,Tablet_price)
print('statistics : ',stat)
print('p_value : ',p_value)

statistics :  0.6635459332943239
p_value :  0.4172859681296204

In [ ]:
#p_value is greter than 0.05 so that so the varience are equal
# data is satisfied all the conditions so we can proceed foe z-test.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

H0: mu1-mu2=0
H1: mu-mu2!=0

In [33]:
phablet_price = data[data['Type']=='Phablet']['Price ($)']
phablet_len = len(phablet_price)

In [34]:
tablet_price = data[data['Type']=='Tablet']['Price ($)']
tablet_len = len(tablet_price)

In [35]:
phablet_mean = np.mean(phablet_price)
tablet_mean = np.mean(tablet_price)

In [36]:
phablet_std = statistics.stdev(phablet_price)
tablet_std = statistics.stdev(tablet_price)

In [37]:
print('Confidence interval:', stats.norm.interval(0.95, loc = phablet_mean - tablet_mean, 
                                                  scale = np.sqrt((phablet_std**2/phablet_len) + (tablet_std**2/tablet_len))))

Confidence interval: (35.78269259462732, 54.93730740537265)

In [38]:
#null hypothesis is not lying in the interval so we reject null hypothesis.

In [41]:
z_score, p_value = stests.ztest(x1 = phablet_price, x2 =tablet_price , value = 0, alternative = 'two-sided')
print('z_score ',z_score)
print('p_vale ',p_value)

z_score  9.282772555558113
p_vale  1.6512473234517284e-20

<a id="t"></a>
## 2. Small Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The quality assurance department has collected 15 packets of potato chips. The department wants to test the average weight of the packets. Check whether they can use the one sample t-test for the population mean with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [42]:
# type your code here
pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [43]:
#n<30 so we use t-test

In [45]:
stat,p_val=stats.shapiro(pack_wt)
print('Statistics :',stat)
print('P_value :',p_val)

Statistics : 0.9538426995277405
P_value : 0.5868644714355469

In [ ]:
n=15
avg=np.mean(pack_wt)
samp_std=statistics.stdev(pack_wt)

In [ ]:
#p_value is greater than 0.05 the data is normally distributed

In [ ]:
#we can conclude that yes we can use one sample t-test as n<15.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Use the weight of the potato chips packets given in the previous question and test whether the average weight of packet is more than 30 g. using p-value method. (Use 10% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [46]:
# type your code here
pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [ ]:
H0: mu<30
H1: mu>30

In [ ]:
# this is a right tail test and asper sample  we use t-test

In [50]:
mu=30
samp_mean=np.mean(pack_wt)
samp_std=statistics.stdev(pack_wt)
n=len(pack_wt)
alpha=0.1

In [51]:
t_critical = stats.t.isf(alpha,df=len(pack_wt)-1)
print('t_critical ',round(t_critical,2))

t_critical  1.35

In [ ]:
# if t-score will be grater than 1.35 we will reject null

In [54]:
t_score=(samp_mean-mu)/(samp_std/np.sqrt(n))
t_score

-1.1204731591740873

In [56]:
p_value=stats.t.cdf(t_score,df=n-1)
p_value

0.14068288127820355

In [ ]:
#0.14>0.1 so we fail reject the null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. The orthopaedic surgeon states that a T-score for females older than 30 years is less than -1.2 which indicates the low bone density. To test the claim a sample of 10 women was selected and the average T-score was found to be -1.34 with a standard deviation of 0.8. Test the surgeon's claim using a critical value method with 95% confidence. (Assume the normality of the T-score). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [63]:
# type your code here
samp_t_score = -1.34
samp_std = 0.8
alpha = 0.05
t_score = -1.2
n = 10

In [64]:
t_critical = stats.t.isf(alpha,df=n-1)
print('t_critical ',t_critical)

t_critical  1.8331129326536337

In [66]:
p_val = stats.t.cdf(samp_t_score,df=n-1)
print('P_val ', p_val)

P_val  0.1065460754268941

In [ ]:
#we fail to reject the null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [67]:
# type your code here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [ ]:
H0 : harry_mu >= ron_mu
H1 : harry_mu < ron_mu

In [68]:
alpha = 0.01
avg_samp_1 = np.mean(harry)
n_1= len(harry)
std_samp_1 = statistics.stdev(harry)
avg_samp_2 = np.mean(ron)
n_2 = len(ron)
std_samp_2 = statistics.stdev(ron)

In [79]:
t_critical = stats.t.isf(0.01,df=n_1+n_2-2)
print('t_critical ',round(t_critical,2))

t_critical  2.68

In [80]:
p_value = stats.t.cdf(t_score,df=(n_1+n_2-2))
print('p_value ',p_value)

p_value  0.12664736512679725

In [81]:
t_stat, p_val = stats.ttest_ind(a = harry, b = ron)
print(t_stat)
print(p_val/2)

-2.8788582527177526
0.00692997580305821

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using a critical value method and p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [72]:
# type your code here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [ ]:
H0 : harry_mu >= ron_mu
H1 : harry_mu < ron_mu

In [82]:
t_critical = stats.t.isf(0.10,df=n_1+n_2-2)
print('t_critical ',round(t_critical,2))

t_critical  1.36

In [83]:
t_stat, p_val = stats.ttest_ind(a = harry, b = ron)
print(t_stat)
print(p_val/2)#by default two tailed

-2.8788582527177526
0.00692997580305821

In [ ]:
#p_val<0.10 so we fail to reject

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>9. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [85]:
# type your code here
df=pd.read_excel('sugar_level.xlsx')
df.head()

   sugar_before  sugar_after
0           135          132
1           132          136
2           142          139
3           154          151
4           198          192

In [86]:
#its a paired test

In [87]:
n=len(df)

In [ ]:
H0 : mu1 >= mu2
Ha : mu1 < mu2

In [88]:
t_critical = stats.t.isf(0.05,df=n-1)
print('t_critical ',round(t_critical,2))

t_critical  1.71

In [89]:
t_stat, p_val = stats.ttest_rel(df['sugar_after'], df['sugar_before'])
print(t_stat)
print(p_val/2)

-5.268469999584946
1.0544706972911436e-05

In [ ]:
#p_value<0.05 we can reject the null hypothesis.

<a id= "prop"></a>
## 3. Z Proportion Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. The physics department claims that it received 14% of fraud applications this year. The university head wants to test whether the percentage is different than what the department claims. The sample of 250 applications is selected out of which 38 applications are found to fraud. Test the claim with a 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0 : mu = 0.14
Ha : mu != 0.14

In [93]:
mu= 0.14
n = 250
x = 38
p = 38/250

In [94]:
z_critical = stats.norm.isf(0.05/2)
print('z_critical : ',round(z_critical,2))

z_critical :  1.96

In [98]:
den = np.sqrt((mu*(1-mu)/n))

In [99]:
num = (p - mu)

In [100]:
z_score = num/den
print('z_score ',z_score)

z_score  0.5468119624323661

In [101]:
p_value = stats.norm.sf(z_score)
print('p_value ',p_value*2)

p_value  0.5845079238217354

In [ ]:
#z-score is in the accepence region and p_value greater than0.05 so fail to reject the null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. The store manager claims that he received more 20% of defective plastic boxes in his previous order. Test the manager's claim using a critical value method. From a sample of 120 boxes, 42 were found to be defective. Test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0 : pop_mu <= 0.20
Ha :pop_mu > 0.20

In [102]:
pop_mu = 0.20
n = 120
x = 42
p = x/n

In [103]:
z_critical = stats.norm.isf(0.10)
print('z_critical ',round(z_critical,2))

z_critical  1.28

In [104]:
num = (p - pop_mu)

In [106]:
den = np.sqrt((pop_mu*(1-pop_mu)/n))

In [108]:
z_score=num/den
z_score

4.107919181288744

In [ ]:
#this is a right tail so z_score is greater than z_critical so it is in the rejection region we can reject the null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>12. The HR head of a company claims that the company supports the woman empowerment and the proportion of female employees is same in the New York and Oneonta branches. The women empowerment cell wants to check whether the proportion is different for the two branches. The sample of 150 employees is selected from New York branch out of which 53 are females and a sample of 170 employees is selected from Oneonta branch out of which 76 are females. Use the p-value technique with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0 : mu1-mu2 = 0
Ha : mu1-mu2 != 0

In [111]:
n1 = 150
n2 = 170
x1 = 53
x2 = 76

In [112]:
mu1 = x1/n1
mu2 = x2/n2

In [117]:
z_critical = stats.norm.isf(alpha/2)
print('z_critical ',round(z_critical,2))

z_critical  2.58

In [ ]:
#its a right tail test

In [113]:
p_bar = (x1+x2)/(n1+n2)
print('p_bar ',p_bar)

p_bar  0.403125

In [114]:
num = (mu1-mu2)

In [115]:
den= np.sqrt((p_bar)*(1-p_bar)*((1/n1)/(1/n2)))

In [116]:
z_score = num/den
print('z_score ',z_score)

z_score  -0.1794805240403688

In [ ]:
#_score lies in the aceptance region so we fail to reject the null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. The education department claims that the proportion of students failed in Mathematics is more than the proportion of students failed in English. To test the claim a sample of 200 students enrolled for Mathematics was considered out of which 73 students failed in the exam and a sample of 150 students enrolled for English was considered out of which 53 students failed in the exam. Use the critical value method to test the department's claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0 : mu1 - mu2 <= 0
Ha : mu1 - mu2 > 0

In [ ]:
n1 = 200
n2 = 150
x1 = 73
x2 = 53

In [118]:
mu1=x1/n1
mu2=x2/n2

In [119]:
z_critical = stats.norm.isf(0.10)
print('z_critical ',round(z_critical,2))

z_critical  1.28

In [121]:
p_bar = (x1+x2)/(n1+n2)
print('p_bar ',p_bar)

p_bar  0.403125

In [122]:
den = np.sqrt((p_bar)*(1-p_bar)*((1/n1)/(1/n2)))

In [123]:
num=(mu1-mu2)

In [124]:
z_score = num/den
print('z_score ',z_score)

z_score  -0.1794805240403688

In [ ]:
#z_score is lieng in the accepence region so we fail to reject the null hypothesis.