<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> In-class Lab <br> (Day 2) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

##  Table of Content

1. **[String](#string)**
2. **[List](#list)**
2. **[Tuple](#tuple)**
3. **[Set](#set)**
4. **[Dictionary](#dict)**
5. **[Conditional Statements](#cond)**

### Let's begin with some hands-on practice exercises

<a id="string"></a>
## 1. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# finding the length
country='India'
print("the length of the country is",len(country))
print("the first two letter is",country[0:2])

the length of the country is 5
the first two letter is In

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
str= 'Today is a sunny day.'
print(str[0:5])
print(str[-10:-4])
print(str[-2:])
print(str[::-1])

Today
sunny
y.
.yad ynnus a si yadoT

<a id="list"> </a>
## 2. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [17]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
print(" the length of mix_list_1",len(mix_list_1))

 the length of mix_list_1 5

**b. Check the membership of '24' in mix_list_1**

In [11]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
24 in ['Learn', 24, 'Blue', False, -8]

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [16]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
mix_list_1 = ['Learn', 24, 'Blue', False, -8]+mix_list_2 
mix_list_1

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [13]:
mix_list_2 = [4, 7, 'Summer']
mix_list_2*3

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [18]:
num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]
num_list_1*num_list_2

TypeError: can't multiply sequence by non-int of type 'list'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [19]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0])

Python

**b. Second last element**

In [20]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[-2])

Data

**c. First three elements**

In [21]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0:3])

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [26]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[::2])

['Python', 2, 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [23]:
num_list = [4, 5, 7, -2, 0, 1]
min(num_list)

the minimum value is -2

**b. Max(list)**

In [25]:
num_list = [4, 5, 7, -2, 0, 1]
max(num_list)

the maximum value is 7

**c. Sort the elements (use sort() and sorted() function)**

In [22]:
num_list = [4, 5, 7, -2, 0, 1]
num_list.sort()
num_list

[-2, 0, 1, 4, 5, 7]

In [18]:
num_list = [4, 5, 7, -2, 0, 1]
sorted(num_list)

[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [24]:
num_list = [4, 5, 7, -2, 0, 1]
list1=num_list.copy()
list1

[4, 5, 7, -2, 0, 1]

**e. Remove element '5' from the list**

In [30]:
num_list = [4, 5, 7, -2, 0, 1]
num_list.remove(5)
num_list

[4, 7, -2, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [27]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append('Data')
print(languages_list)

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [26]:
languages_list.extend(['Excel','Data'])
languages_list

['R', 'Python', 'C', 'Java', 'Data', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [33]:
languages_list[2]='c++'
languages_list

['R', 'Python', 'c++', 'Java', 'Data', 'Excel', 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [1]:
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 3. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [2]:
num_tuple = (4, 4, 8)
len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [1]:
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2
num_tuple+mix_tuple
num_tuple

(4, 4, 8)

**c. Repeat the mix_tuple two times**

In [8]:
mix_tuple = 'John', 5, -2
mix_tuple = ('John', 5, -2)*2
mix_tuple

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [39]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
#tuple is immutable so we can't add anything to it

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [0]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
# tuples are immutable hence the above operation is not possible if you try python will give type error

**b. Replace 'True' in first element of the tuple with 'False'**

In [41]:
mix_tuple

(['a', 1, True], 2, 'Science', -5)

In [ ]:
# tuples are immutable hence the above operation is not possible.

<a id="set"> </a>
## 4. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [7]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [8]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.remove(3)
num_set

{1, 2, 4, 5, 6}

**c. Clear the set**

In [9]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.clear()
num_set

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [1]:
sentence_1 = 'We shall analyse the data using python'
sentence_1=set(sentence_1.split())
sentence_1

{'We', 'analyse', 'data', 'python', 'shall', 'the', 'using'}

In [2]:
sentence_2 = 'Python for data science'
sentence_2=set(sentence_2.split())
sentence_2

{'Python', 'data', 'for', 'science'}

**a. Find the number of unique words in the sentences**

In [6]:
print("the number of unique words is",len(sentence_1))
print("the number of unique words is",len(sentence_2))

the number of unique words is 7
the number of unique words is 4

b. Find the common words in both the sentences

In [7]:
sentence_1.intersection(sentence_2)

{'data'}

**c. Find the unique words in both the sentences**

In [8]:
sentence_1.symmetric_difference(sentence_2)

{'Python',
 'We',
 'analyse',
 'for',
 'python',
 'science',
 'shall',
 'the',
 'using'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [2]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

**b. Intersection**

In [3]:
A.intersection(B)

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [4]:
A-B

{1, 2, 4, 40, 71, 87}

**d. Set of all the elements of set B that are not in set A**

In [5]:
B-A

{8, 42, 51, 54}

**e. Symmetric difference**

In [6]:
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

<a id="dict"> </a>
## 5. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [49]:
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary[4]=16
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [7]:
mix_dictionary = {0:3, 'x':5, 1:2}
print(mix_dictionary.keys())
print(mix_dictionary.values())
print(mix_dictionary.items())

dict_keys([0, 'x', 1])
dict_values([3, 5, 2])
dict_items([(0, 3), ('x', 5), (1, 2)])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [51]:
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record['Age']

27

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
Use the keys and values to create a dictionary

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [9]:
key = ['a','b','c','d']

value = [1, 2, 3, 4]
dict(zip(key,value))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Set the country of an employee as 'India' in the given employee record</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [4]:
emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record['country']='India'
emp_record

{'Emp_ID': 'ES001',
 'Weight': 67,
 'BMI': 25,
 'Age': 27,
 'Profession': 'CA',
 'country': 'India'}