<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [1]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
lsbool=list(map(lambda lsbool:lsbool.upper(),lsbool))
lsbool

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
#create empty dict 
dict1={}

n=int(input("enter the number of student's height you want to store? "))

#create empty list
ls=[]

for i in range(0,n):
    x,y=input("enter student's name and height in ft: ").split()
    ls.append((x,y))

enter the number of student's height you want to store? 4
enter student's name and height in ft: Piyali 5.7
enter student's name and height in ft: Riya 5.3
enter student's name and height in ft: Ankit 6.0
enter student's name and height in ft: Rahul 5.9

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
dict1={'Square':lambda x:x**2,'Cube':lambda x:x**3,'Squareroot':lambda x:x**0.5,'Double':lambda x:x*2}
i=0
n=int(input("enter value"))
for keys,fun in dict1.items():
    i=i+fun(n)
    print(keys,":",fun(n))
print("the total value is ",i)

enter value2
Square : 4
Cube : 8
Squareroot : 1.4142135623730951
Double : 4
the total value is  17.414213562373096

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [1]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
def wordchecker(ls):
    for data in ls:
        if data[1].isupper():
            print(data)

In [2]:
wordchecker(ls)

hOw
ARe

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [4]:
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)
list1=list(zip(tnames,tmarks))
greater=list(filter(lambda x:x[0] if x[1]>40 else False,list1))
print(greater)

[('Sharon', 50), ('Jack', 75)]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [7]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81
print('weight on moon:',dict(map(lambda x:(x,round((WeightOnEarth[x]/GEarth)*GMoon,2)),WeightOnEarth)))

weight on moon: {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [8]:
from functools import reduce
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
result = list(reduce(set.intersection,[set(items)for items in given_sets]))
result=set(result)
print("output:",result)

output: {8, 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
def store():
    price=[]
    flag=1
    while flag:
        a=input("enter the name of products ")
        b=float(input("enter the price of the products "))
        c=input("do you want to contenieu the list? yes/no  ")
        price.append([a,b])
        if c.lower()=='no':
            flag=0
        print(dict(price))
store()

enter the name of products notebook
enter the price of the products 35
do you want to contenieu the list? yes/no  yes
{'notebook': 35.0}
enter the name of products pen
enter the price of the products 10
do you want to contenieu the list? yes/no  yes
{'notebook': 35.0, 'pen': 10.0}
enter the name of products pencil
enter the price of the products 3
do you want to contenieu the list? yes/no  yes
{'notebook': 35.0, 'pen': 10.0, 'pencil': 3.0}
enter the name of products chocolate
enter the price of the products 25.5
do you want to contenieu the list? yes/no  yes
{'notebook': 35.0, 'pen': 10.0, 'pencil': 3.0, 'chocolate': 25.5}
enter the name of products cold drinks
enter the price of the products 95.5
do you want to contenieu the list? yes/no  no
{'notebook': 35.0, 'pen': 10.0, 'pencil': 3.0, 'chocolate': 25.5, 'cold drinks': 95.5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
num1=16
num2=12

def multiplication(num1,num2):
    return num1*num2


multiplication(16,12)

192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [1]:
from itertools import accumulate
Input= [9,8,7,6,5]
print(list(accumulate(Input, lambda x,y:(x+y)/2)))

[9, 8.5, 7.75, 6.875, 5.9375]