<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [2]:
list=[]

#swap function
def swapnumber(list2):
    size= len(list2)
    
    #swapping
    temp=list2[0]
    list2[0]=list2[size -1]
    list2[size -1]=temp
    return list2

#use given list to swap the elements
list2=[15, 78, 10, 45, 89]

#list1=list2.copy()
#call the function and print the output
print(swapnumber(list2))
#print(list1)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
num1=1204
num2=344536

#define the function
def sum_numbers(x,y):
    sum=x+y
    return sum

print("the sum of ", num1 ,"and", num2 ,"is" ,sum_numbers(num1,num2))

the sum of  1204 and 344536 is 345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
#chek wheather the number is even or odd
def evenodd(x):
    #chek the condition
    if (x%2==2):
        return "the number is an even number"
    else:
        return"the number is an odd number"

#call a defined function
evenodd(33)

'the number is an odd number'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
#desine the function
def factorial(n):
    if n==1:
        return 1
    else:
        return(n*factorial(n-1))
#print the result
print("6! = ",factorial(6))

6! =  720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
#define function to add new elements in a given list
def add_values(new_values,base_values=[]):
    for value in new_values:
        base_values.append(value)
    return base_values


#call the function
add_values((1,2,3))

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
#enter the strings
s1 = input("enter the string 1 : ")
s2 = input("enter the string 2 : ")

#tests if two words start with the same character
def initial_letter(s1,s2):
        if s1[0].upper()==s2[0].upper():
            return True
        else:
            return False
print(initial_letter(s1,s2))

enter the string 1 : python
enter the string 2 : data science
False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
def checkvowel(a):
        vowel = [x for x in a if x in ['a','e','i','o','u','A','E','I','O','U']]
        if len(vowel)>=1:
            return True
        else:
            return False
        
a=input("enter the string: ")
checkvowel(a)

enter the string: machine learning

True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [3]:
def unique_values(list):
    x = []
    for a in list:
        if a not in x:
            x.append(a)
    return x
print(unique_values([1,2,3,3,11,34,3,3,4,5]))

[1, 2, 3, 11, 34, 4, 5]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [2]:
#define a function to find common characters from the list
def common_char(string1,string2):
        "Take two strings, return a sorted list of common characters"
        common = []
        for c in string1:
            if c in string2:
                common.append(c)
        return common

#call the function 
common_char('Angel','apple')

['e', 'l']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [3]:
def arithmaticfunction(a,b):
    sum = a+b
    mul = a*b
    sub = a-b
    return(sum,mul,sub)

a=15
b=4
arithmaticfunction(a,b)

(19, 60, 11)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [7]:
def sum1(my_list):
    sum1 = sum(my_list)
    print("sum of sum elements of the list is : ",sum1)

my_list = [34, 34, 55, 2, 56, 45]
sum1(my_list)

sum of sum elements of the list is :  226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
min_value =(lambda x,y : x if x<y else y)
min_value(34,78)

34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [11]:
number = (11, 21, 30, 34)
num_squre=map(lambda x : x**2 ,number)
set(num_squre)

{121, 441, 900, 1156}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [11]:
#read the sentence
sentence = 'Python for Data Science'

words = sentence.split()
print(words)

findlengths= map(lambda words: len(words), words)
list(findlengths)

['Python', 'for', 'Data', 'Science']

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [12]:
numbers = [ 74, 85, 14, 23 ]
remainders = map(lambda num: num%5, numbers)
for i in remainders:
        print(i)

4
0
4
3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [18]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

modifiedList = list(map(lambda x,y:x + str(y),list1,list2))

print("Modified list : " ,modifiedList)

Modified list :  ['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [19]:
def common_elements(arr1,arr2):
    values = list(filter(lambda x: x in arr1,arr2))
    print("common elements of arr1 & arr2 is : ",values)
    
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

common_elements(arr1,arr2)

common elements of arr1 & arr2 is :  ['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [3]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]


odd= list(filter(lambda x: x%2!=0, numbers))
odd

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
#import reduce fron functools
from functools import reduce 
reduce(lambda x,y: x+y, range(1,100))

4950

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [8]:
func=(lambda a,b: a if(a>b) else b)
reduce(func, [47,11,42,102,13])

102